{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/messenger_style.css' %}">

<div class="chat-container"
     id="chat-container"
     data-interlocutor-id="{{ interlocutor.id }}"
     data-user-id="{{ user.id }}" 
     data-ws-url-base="{{ ws_url_base }}/"> 
    <h2>Диалог с
        <a href="{% url 'user_profile' interlocutor.id %}" class="profile-link">
            {{ interlocutor.full_name }}
        </a>
        <div class="avatar-wrapper">
                <img class="avatar"
                     src="{{ interlocutor.profile.avatar.url }}"
                     alt="{{ dialog.interlocutor.full_name }}"
                     onclick="openPhotoPreview(this.src)">
        </div>
    </h2>

    <div class="messages" id="messages">
         {% for message in messages %}
             <div class="message {% if message.sender == user %}sent{% else %}received{% endif %}">
                 <div style="color: #5B5F84; font-size: 18px;">{{message.sender.full_name}} </div>
                 <div class="message-content">{{ message.text }}</div>
                 <div class="message-time">{{ message.timestamp|date:"H:i" }}</div>
             </div>
         {% empty %}
             <p>Начните диалог!</p>
         {% endfor %}
    </div>

    <form id="message-form" class="message-form">
        {% csrf_token %}
        <input type="text"
               id="message-input"
               placeholder="Введите сообщение..."
               autocomplete="off">
        <button type="submit">Отправить</button>
    </form>
</div>

{% load static %}
<script src="{% static 'js/messenger.js' %}"></script>
{% endblock %}
