{% extends 'base.html' %}
{% load static %}
{% block title %}Настройки{% endblock %}
{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/settings_style.css' %}">
{% endblock %}
{% block content %}
<div class="settings-wrapper">
    <div class="settings-sidebar">
        <button class="settings-tab" data-tab="account">Безопасность</button>         <!-- изменил название -->
        <button class="settings-tab" data-tab="main-info">Основное</button>
        <button class="settings-tab" data-tab="additional-info">Дополнительно</button>
    </div>

    <div class="settings-content">
        <!-- Аккаунт -->
        <div class="settings-block" id="account">
            <form class="settings-form" method="post">
                {% csrf_token %}
                <h1>Безопасность аккаунта</h1>

                <!-- Смена пароля -->
                <div class="form-group">
                    <label for="id_current_password">| Текущий пароль:</label>
                    {{ password_form.current_password }}
                    {{ password_form.current_password.errors }}
                </div>
                <div class="form-group">
                    <label for="id_new_password">| Новый пароль:</label>
                    {{ password_form.new_password }}
                    {{ password_form.new_password.errors }}
                </div>
                <div class="form-group">
                    <label for="id_confirm_password">| Подтвердите пароль:</label>
                    {{ password_form.confirm_password }}
                    {{ password_form.confirm_password.errors }}
                </div>

                <button type="submit" name="change_password" class="save-btn">Изменить пароль</button>
                <!--<div class="form-group"> <button type="button" class="save-btn danger">Удалить аккаунт</button></div>-->
            </form>
        </div>

        <!-- Основная информация -->
        <div class="settings-block" id="main-info">
            <form class="settings-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Основная информация</h1>

                <div class="form-group">
                    <label for="{{ main_form.full_name.id_for_label }}">| Полное имя:</label>
                    {{ main_form.full_name }}
                </div>

                <div class="form-group">
                    <label for="{{ form.gender.id_for_label }}">| Пол:</label>
                    {{ main_form.gender }}
                </div>

                <div class="form-group">
                    <label for="{{ form.birth_date.id_for_label }}">| Дата рождения:</label>
                    {{ main_form.birth_date }}
                </div>

                <div class="form-group">
                    <label for="{{ form.city.id_for_label }}">| Город:</label>
                    {{ main_form.city }}
                </div>

                <div class="form-group">
                    <label for="{{ form.bio.id_for_label }}">| О себе:</label>
                    {{ main_form.bio }}
                </div>

                <div class="form-group">
                    <label for="{{ form.avatar.id_for_label }}">| Аватар:</label>
                    {{ main_form.avatar }}
                </div>

                <div class="form-group">
                    <label for="{{ form.relationship.id_for_label }}">| В поисках:</label>
                    {{ main_form.relationship }}
                </div>

                <button type="submit" name="edit_main_profile" class="save-btn">Сохранить информацию</button>
            </form>
        </div>

        <!-- Дополнительная информация -->
        <div class="settings-block" id="additional-info">
            <form class="settings-form" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <h1>Дополнительная информация</h1>

                <!-- Контейнер для сетки из 8 полей -->
                <div class="additional-settings-grid">
                    <div class="form-group">
                        <label for="{{ extra_form.job.id_for_label }}">| Профессия:</label>
                        {{ extra_form.job }}
                    </div>

                    <div class="form-group">
                        <label for="{{ extra_form.height.id_for_label }}">| Рост (см):</label>
                        {{ extra_form.height }}
                    </div>

                    <div class="form-group">
                        <label for="{{ extra_form.smoking.id_for_label }}">| Курение:</label>
                        {{ extra_form.smoking }}
                    </div>

                    <div class="form-group">
                        <label for="{{ extra_form.alcohol.id_for_label }}">| Алкоголь:</label>
                        {{ extra_form.alcohol }}
                    </div>

                    <div class="form-group">
                        <label for="{{ extra_form.religion.id_for_label }}">| Религия:</label>
                        {{ extra_form.religion }}
                    </div>

                    <div class="form-group">
                        <label for="{{ extra_form.education.id_for_label }}">| Образование:</label>
                        {{ extra_form.education }}
                    </div>

                    <div class="form-group">
                        <label for="{{ extra_form.children.id_for_label }}">| Дети:</label>
                        {{ extra_form.children }}
                    </div>
                    <div class="form-group">
                        <label>| Языки:</label>
                        <div class="custom-dropdown">
                            <div class="dropdown-header" onclick="toggleLanguageDropdown()">
                                <span class="selected-items">
                                    {% if extra_form.language.value %}
                                    {{ extra_form.language.value|join:", " }}
                                    {% else %}
                                    Выберите языки...
                                    {% endif %}
                                </span>
                                <span class="arrow">▼</span>
                            </div>
                            <div class="dropdown-content" id="languageDropdown">
                                {% for lang in extra_form.language.field.queryset %}
                                <label class="dropdown-item">
                                    <input type="checkbox" name="language"
                                           value="{{ lang.id }}"
                                           {% if lang.id in extra_form.language.value %}checked{% endif %}>
                                    {{ lang.name }}
                                </label>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Блок загрузки фото -->
                <div class="form-group photo-upload-block">
                    <label>{{ extra_form.photos.label }}</label>
                    {{ extra_form.photos }}
                    <small class="form-text text-muted">{{ form.photos.help_text }}</small>
                </div>

                <!-- Интересы -->
                <div class="form-group">
                    <label>| Интересы:</label>
                    <div class="interests-container">
                        {% for interest in extra_form.interests.field.queryset %}
                        {% if interest.name == "волонтерство" %}
                    </div>
                    <h1 style="font-size: 16px;">Социальная активность</h1>
                    <div class="interests-container">
                        {% elif interest.name == "бег" %}
                    </div>
                    <h1 style="font-size: 16px;">Спорт и активный отдых</h1>
                    <div class="interests-container">
                        {% elif interest.name == "изучение языков" %}
                    </div>
                    <h1 style="font-size: 16px;">Образование и саморазвитие</h1>
                    <div class="interests-container">
                        {% elif interest.name == "литература" %}
                    </div>
                    <h1 style="font-size: 16px;">Хобби и развлечения</h1>
                    <div class="interests-container">
                        {% endif %}

                        <label class="interest-btn">
                            <input type="checkbox" name="interests" value="{{ interest.id }}"
                                   {% if interest in extra_form.instance.interests.all %}checked{% endif %}>
                            <img src="{{ interest.image.url }}" alt="{{ interest.name }}" class="interest-icon">
                            <span class="interest-text">{{ interest.name }}</span>
                        </label>
                        {% endfor %}
                    </div>
                </div>

                <button type="submit" name="edit_extra_profile" class="save-btn">Сохранить информацию</button>
            </form>
        </div>

    </div>
</div>
{% block extra_js %}
<script src="{% static 'js/settings_script.js' %}"></script>
{% endblock %}
{% endblock %}